appdirs==1.4.4
attrs==21.4.0
certifi==2020.6.20
cfgv==3.3.1
chardet==4.0.0
click==7.1.2
distlib==0.3.4
filelock==3.4.2
Flask==2.0.2
gunicorn==20.1.0
identify==2.4.4
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe>=2.0.0
more-itertools==8.12.0
munkres==1.1.4
nodeenv==1.6.0
packaging==21.0
pluggy==1.0.0
pre-commit==2.17.0
py==1.11.0
pyparsing==3.0.6
pytest==6.2.5
PyYAML==6.0
requests==2.27.1
six==1.16.0
toml==0.10.1
urllib3==1.26.5
virtualenv==20.13.0
wcwidth==0.2.5
Werkzeug==2.0.1
