{% extends "base.html" %}

{% block content %}
    <h2 class="govuk-heading-l">
        A niche solution to a niche problem
    </h2>
    <p class="govuk-body-lead">
        A graduate programme is a good and worthy thing to run. Moving bright people around
        the business to help them understand the complexity and intricacies of the
        organisation they're joining is vital to help them become leaders.
    </p>
    <p class="govuk-body">
        However: matching people with jobs that will stretch and grow them as employees
        is very difficult. It's a problem that doesn't seem difficult at first, but
        hopefully through this presentation I'll be able to show you what a wicked problem
        it is...
    </p>
    <p class="govuk-body">
        ...and a solution to the problem that could save you money and free up your
        staff to do exciting, valuable work.
    </p>

    <a href="{{ url_for("pitch.problem") }}" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>
{% endblock %}