{% extends "base.html" %}

{% block content %}
    <h1 class="govuk-heading-l">
        A worked example
    </h1>
    <p class="govuk-body-l">
        This is a very rough example. I've used a limited number of criteria for the sake
    of brevity. The system at scale could operate with as many data points as are required.
    </p>
    <p class="govuk-body">
        Let's suppose your organisation has four key competences: Digital,
        Finance, Operations, and Policy. Let's suppose also that it's the first year of
    your development scheme: you've hand-picked Aisha, who's a rising star in Digital.
        She scores her knowledge in each key competency as follows:</p>
    <p class="govuk-body">
    <code>
        Aisha
        <br>
        <br>
        Digital: 4/5<br>
        Policy: 2/5<br>
        Operations: 1/5<br>
        Finance: 0/5<br>
    </code>
    </p>

    <p class="govuk-body">
        The only role available for this development scheme in this rotation is
        Assistant Head of Finance. We can rate this role on the same scale as above:
    </p>
    <p class="govuk-body">
        <code>
            Assistant Head of Finance
            <br>
            <br>
            Digital: 1/5 <br>
            Policy: 1/5 <br>
            Operations: 0/5 <br>
            Finance: 5/5 <br>
        </code>
    </p>
    <p class="govuk-body">
        We could now work out a number that represents how well this candidate and role
    are suited to each other. For the sake of this example, I'm going to assume that
        we want Aisha to do something she's not good at - Policy, Operations, or Finance.
        To do that, I'll use a calculation that gives more weight to skills she doesn't have
    by subtracting her current level of skill from the maximum. If we wanted to focus on
        specialising, we'd use a different calculation.
    </p>
    <p class="govuk-body">
        <code>
            Aisha x Assistant Head of Finance
            <br>
            <br>
            Digital: (5-4) x 1 = 1 <br>
            Policy: (5-2) x 1 = 3 <br>
            Operations: (5-1) x 0 = 0 <br>
            Finance: (5-0) x 5 = 25 <br>
            <br>
            Total: 29
        </code>
    </p>
    <p class="govuk-body">
        Calculating the score like this gives us an objective measure of how well the
        candidate will be developed in any given role. This will be useful if we
        expand the development scheme, as we'll be able to compare pairings quickly.
    </p>
    <table class="govuk-table">
        <caption class="govuk-table__caption">One candidate and one role</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header">Aisha</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Assistant Head of Finance</th>
        <td class="govuk-table__cell">29</td>
        </tr>
  </tbody>
</table>
    <p class="govuk-body">
        As you can see, there's only one option: Aisha will take the Assistant Head of
        Finance role. And with two candidates and two roles, there's only two possibilities:
    </p>
    <table class="govuk-table">
        <caption class="govuk-table__caption">Two candidates and two roles</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header">Aisha</th>
            <th scope="col" class="govuk-table__header">Benjamin</th>

        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Assistant Head of Finance</th>
        <td class="govuk-table__cell">29</td>
        <td class="govuk-table__cell">19</td>

        </tr>
        <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Delivery Manager</th>
        <td class="govuk-table__cell">20</td>
        <td class="govuk-table__cell">29</td>

        </tr>
  </tbody>
</table>

    <p class="govuk-body">
        Aisha will still take the Assistant Head of Finance role, because it's a better
        fit, and Benjamin will only have one choice - whichever is left. Luckily, that's
        the best role for him too. At three, there are six possibilities:
    </p>
        <table class="govuk-table">
        <caption class="govuk-table__caption">Three candidates and three roles</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header">Aisha</th>
            <th scope="col" class="govuk-table__header">Benjamin</th>
            <th scope="col" class="govuk-table__header">Carla</th>

        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Assistant Head of Finance</th>
        <td class="govuk-table__cell">29</td>
        <td class="govuk-table__cell">20</td>
        <td class="govuk-table__cell">21</td>

        </tr>
        <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Delivery Manager</th>
        <td class="govuk-table__cell">21</td>
        <td class="govuk-table__cell">29</td>
        <td class="govuk-table__cell">18</td>
        </tr>

        <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Policy Lead</th>
        <td class="govuk-table__cell">18</td>
        <td class="govuk-table__cell">29</td>
        <td class="govuk-table__cell">18</td>
        </tr>
  </tbody>
</table>
<p class="govuk-body">
    The first candidate can choose (or be assigned) to any one of three roles. The
    second candidate can have a choice of two, and the last candidate gets whatever is
    left. There are six possibilities now: 3 x 2 x 1. This is usually written <var>3!</var>,
or three factorial.
</p>
    <p class="govuk-body">
        With ten candidates, there are ten factorial (<var>10!</var>) ways of combining them. <var>10!</var> is
        3,628,800 different possibilities. Every new pair increases the number of
        combinations exponentially.
    </p>
    <p class="govuk-body">
        Having worked out an objective value for how stretching each role would be for each
    candidate, we can try our best to calculate the best pairing overall. Although we're
    doing this with numbers, this is exactly the same thing your staff are doing manually -
    trying to find great matches that will grow and develop your staff. On the next page,
    you'll see a table with only ten candidate and ten roles. I'd like you to try to find
    an answer. You can then compare with the computer-assisted answer.
    </p>



       <a href="{{ url_for("pitch.approach") }}" role="button" class="govuk-button govuk-button--start" data-module="govuk-button">Continue</a>
{% endblock %}