{% extends "base.html" %}

{% block content %}
    <h2 class="govuk-heading-l">
        The problem (with tables)
    </h2>
    <p class="govuk-body-l">
        With only 100 people on your programme and 100 roles to move them into, you're
        facing a problem that has 9.3 x 10<sup>157</sup> possible solutions. For
        comparison, that's more than the number of particles in the known universe.
    </p>
    <p class="govuk-body">
        Let's suppose your organisation has four key competences: Digital,
        Finance, Operations, and Policy. Let's suppose also that it's the first year of
    your development scheme: you've hand-picked Aisha, who's a rising star in Digital.
        She scores <code>her</code> knowledge in each key competency as follows:</p>
    <p class="govuk-body">
    <code>
        Aisha
        <br>
        <br>
        Digital: 4/5<br>
        Policy: 2/5<br>
        Operations: 1/5<br>
        Finance: 0/5<br>
    </code>
    </p>

    <p class="govuk-body">
        The only role available for this development scheme in this rotation is
        Assistant Head of Finance. We can rate this role on the same scale as above:
    </p>
    <p class="govuk-body">
        <code>
            Assistant Head of Finance
            <br>
            <br>
            Digital: 1/5 <br>
            Policy: 1/5 <br>
            Operations: 0/5 <br>
            Finance: 5/5 <br>
        </code>
    </p>
    <p class="govuk-body">
        We could now work out a number that represents how well this candidate and role
    are suited to each other. Assuming we value generalism, I'll use a calculation that
    gives more weight to skills Aisha doesn't have:
    </p>
    <p class="govuk-body">
        <code>
            Aisha x Assistant Head of Finance
            <br>
            <br>
            Digital: (5-4) x 1 = 1 <br>
            Policy: (5-2) x 1 = 3 <br>
            Operations: (5-1) x 0 = 0 <br>
            Finance: (5-0) x 5 = 25 <br>
        </code>
    </p>
    <p class="govuk-body">
        Calculating the score like this gives us an objective measure of how well the
        candidate will be developed in any given role. This will be useful if we
        expand the development scheme, as we'll be able to compare pairings quickly.
    </p>
    <table class="govuk-table">
        <caption class="govuk-table__caption">One candidate and one role</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header">Aisha</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Assistant Head of Finance</th>
        <td class="govuk-table__cell">25</td>
        </tr>
  </tbody>
</table>
    <p class="govuk-body">
        As you can see, there's only one option: Aisha will take the Assistant Head of
        Finance role. And with two candidates and two roles, there's only two possibilities:
    </p>
    <table class="govuk-table">
        <caption class="govuk-table__caption">Two candidates and two roles</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header">Aisha</th>
            <th scope="col" class="govuk-table__header">Benjamin</th>

        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Assistant Head of Finance</th>
        <td class="govuk-table__cell">25</td>
        <td class="govuk-table__cell">19</td>

        </tr>
        <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Delivery Manager</th>
        <td class="govuk-table__cell">20</td>
        <td class="govuk-table__cell">25</td>

        </tr>
  </tbody>
</table>

    <p class="govuk-body">
        Aisha will still take the Assistant Head of Finance role, because it's a better
        fit, and Benjamin will only have one choice - whichever is left. Luckily, that's
        the best role for him too. At three, there are six possibilities:
    </p>
        <table class="govuk-table">
        <caption class="govuk-table__caption">Three candidates and three roles</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header">Aisha</th>
            <th scope="col" class="govuk-table__header">Benjamin</th>
            <th scope="col" class="govuk-table__header">Carla</th>

        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Assistant Head of Finance</th>
        <td class="govuk-table__cell">25</td>
        <td class="govuk-table__cell">20</td>
        <td class="govuk-table__cell">21</td>

        </tr>
        <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Delivery Manager</th>
        <td class="govuk-table__cell">21</td>
        <td class="govuk-table__cell">25</td>
        <td class="govuk-table__cell">18</td>
        </tr>

        <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Policy Lead</th>
        <td class="govuk-table__cell">18</td>
        <td class="govuk-table__cell">25</td>
        <td class="govuk-table__cell">18</td>
        </tr>
  </tbody>
</table>
<p class="govuk-body">
    The first candidate can choose (or be assigned) to any one of three roles. The
    second candidate can have a choice of two, and the last candidate gets whatever is
    left. There are six possibilities now: 3 x 2 x 1. This is usually written <var>3!</var>,
or three factorial.
</p>
    <p class="govuk-body">
        With ten candidates, there are ten factorial (<var>10!</var>) ways of combining them. 10! is
        3,628,800 different possibilities. Every new pair increases the number of
        combinations exponentially, which is why by the time we get to 100 candidate/role
        pairs the number is so incredibly massive. That number, written out, looks like this:
    </p>

    <p class="govuk-body" style="word-wrap:break-word !important;">
    93000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
    </p>

    <p class="govuk-body">
        These huge numbers might not convince you of the difficulty of the task. I
        expect you have a system already, and it works - it may take staff a few days,
        and there may be the occasional complaint, but overall it works. On the next page
        I'm going to generate a random 10 x 10 grid of numbers, representing the
        pairings of just 10 candidates and 10 roles. I am confident that we'll agree on
        the solution, but I hope you'll recognise how much quicker this system provides it.
    </p>



       <a href="{{ url_for("pitch.problem") }}" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Tell me
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>
{% endblock %}